{% load static %}
<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--<title>Registration Form in HTML CSS</title>-->
    <!---Custom CSS File--->
    <link rel="stylesheet" href="{% static 'Applicants_assets/registration.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  </head>
  <body>
    <section class="container">
      <header><b>Renew last license Form</b></header>
      <form action="" method="POST" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <div class="column">
          <div class="input-box">
            <label>Search Applicant Name </label>
            {{form.applicant}}
          </div>
          <div class="input-box">
            <label>Search License Name </label>
            {{form.first_license}}
          </div>
        </div>
          <div class="column">
            <div class="input-box">
              <label> Your Previous License</label>
                {{form.old_license}}
            </div>
            <div class="input-box">
              <label> Your Most Recent Photo</label>
              {{form.recent_photo}}
            </div>
          </div>
          
          <div class="input-box">
            <label>Serial Number </label>
            {{form.id_serial_no}}
          </div>
        </div>
        
        <button>Submit</button>
      </form>
    </section>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
      // In your Javascript (external .js resource or <script> tag)
      $(document).ready(function() {
      $('#id_applicant').select2();
      });
    </script>
    <script>
      // In your Javascript (external .js resource or <script> tag)
      $(document).ready(function() {
      $('#id_first_license').select2();
      });
    </script>
    
  </body>
</html>

