{% load static %}
<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--<title>Registration Form in HTML CSS</title>-->
    <!---Custom CSS File--->
    <link rel="stylesheet" href="{% static 'Applicants_assets/registration.css' %}" />
  </head>
  <body>
    <section class="container">
      <header><b>Renew lost license Form</b></header>
      <form action="" method="POST" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <div class="column">
          <div class="input-box">
            <label>Search Applicant Name </label>
            {{form.applicant}}
          </div>
          <div class="input-box">
            <label>Search License Name </label>
            {{form.first_license}}
          </div>
        </div>
          <div class="column">
            <div class="input-box">
              <label> Your Previous License</label>
                {{form.old_license}}
            </div>
            <div class="input-box">
              <label> Your Most Recent Photo</label>
              {{form.recent_photo}}
            </div>
          </div>
          
          <div class="input-box">
            <label>Serial Number </label>
            {{form.id_serial_no}}
          </div>
        </div>
        
        <button>Submit</button>
      </form>
    </section>
  </body>
</html>

