{% load static %}
<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--<title>Registration Form in HTML CSS</title>-->
    <!---Custom CSS File--->
    <link rel="stylesheet" href="{% static 'Applicants_assets/registration.css' %}" />
  </head>
  <body>
    <section class="container">
      <header>Renew lost license Form</header>
      <form action="#" class="form">
        <div class="column">
          <div class="input-box">
            <label>First Name </label>
            <input type="text" placeholder="First Name"required/>
          </div>
          <div class="input-box">
            <label>Middle Name </label>
            <input type="text" placeholder="Middle Name"required/>
          </div>
          <div class="input-box">
            <label>Last Name </label>
            <input type="text" placeholder="Last Name" required/>
          </div>
        </div>
        <div class="gender-box">
          <h3>Gender</h3>
          <div class="gender-option">
            <div class="gender">
              <input type="radio" id="check-male" name="gender" checked />
              <label for="check-male">Male</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-female" name="gender" />
              <label for="check-female">Female</label>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="input-box">
            <label>Email Address</label>
            <input type="email" placeholder="Enter email address" required />
          </div>
          <div class="input-box">
            <label>Birth Date</label>
            <input type="date" placeholder="Enter birth date" required />
          </div>
        </div>
        <div class="input-box">
          <label>Phone Number</label>
          <input type="number" placeholder="Enter phone number" required />
        </div>
        <div class="column">
          <div class="input-box">
            <label> Health profession </label>
            <input name="profession" list="health-professions" placeholder="--Select health profession--" required>
            <datalist id="health-professions">
              <option value="Nurse">
              <option value="Health Officer"> 
              <option value="Physiotherapist"> 
              <option value="Doctor"> 
              <option value="Pharmacist"> 
              <option value="Midwife"> 
              <option value="Radiology Technician"> 
              <option value="Lab Technician"> 
              <option value="Psychiatry Nurse"> 
            </datalist>
          </div>
          <div class="input-box">
            <label>Date license was issued</label>
            <input type="date" name="date-of-issue" placeholder="mm/dd/yyyy">
          </div>
        </div>
        <div class="column">
          <div class="input-box">
            <label> Upload old license</label>
            <input type="file" id="choose-file_1" name="choose-file_1" accept="image/*">
          </div>
          <div class="input-box">
            <label> Upload Recent photo</label>
            <input type="file" id="choose-file_1" name="choose-file_1" accept="image/*">
          </div>
       </div>
        <button>Submit</button>
      </form>
    </section>
  </body>
</html>

