{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--<title>Registration Form in HTML CSS</title>-->
    <!---Custom CSS File--->
    <link rel="stylesheet" href="{% static 'Applicants_assets/registration.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

  </head>
  <body>
    <section class="container">
      <header><b>New License Application Form</b></header>
      <form action="" method="POST" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        
        <div class="column">

          
          <div class="input-box">
            <label>Search Applicant Name </label>
            {{form.applicant}}
          </div>
          
          <div class="input-box">
            <label>Serial Number </label>
            {{form.id_serial_no}}
          </div>
        </div>
        

       
        <div class="input-box">
          <label> Health profession </label>
          {{form.health_profession}}
          <datalist id="health-professions">
            <option value="Nurse">
            <option value="Health Officer"> 
            <option value="Physiotherapist"> 
            <option value="Doctor"> 
            <option value="Pharmacist"> 
            <option value="Midwife"> 
            <option value="Radiology Technician"> 
            <option value="Lab Technician"> 
            <option value="Psychiatry Nurse"> 
          </datalist>
        </div>
        <div class="column">
          <div class="input-box">
            <label> Upload 8th grade ministry</label>
            {{form.grade_8th_ministry}}
          </div>
          <div class="input-box">
            <label> Upload 10th grade matric</label>
            {{form.grade_10th_ministry}}
          </div>
        </div>
        <div class="column">
          <div class="input-box">
            <label> Upload 12th grade matric</label>
            {{form.grade_12th_ministry}}
          </div>
          <div class="input-box">
            <label> Upload Degree certificate</label>
            {{form.degree_certificate}}
          </div>
       </div>
       <div class="input-box">
        <label> Upload Recent Photo</label>
        {{form.recent_photo}}
       </div>
        <button type="submit">Submit</button>
      </form>
    </section>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
      // In your Javascript (external .js resource or <script> tag)
      $(document).ready(function() {
      $('#id_applicant').select2();
      });
    </script>
  </body>
</html>

