{% load static %}
<!DOCTYPE html>
<html>
<head>
 <title>Regain License Successful</title>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="{% static 'Applicants_assets/success.css' %}">
</head>
<body>
 <div class="container">
  <h1>Successfully registered</h1>
  <h3><a><b>Please Wait for our Email!</b></a></h3>
  
  <p>Congratulations, you have successfully registered for a lost license.</p>
  <a href="#">Need Help?</a>
  <button>Continue</button>
 </div>
    <script>
        const button = document.querySelector('button');
        button.addEventListener('click', () => {
            window.location.href = "../";
        });
    </script>
</body>
</html>